@font-face{
  font-family: 'med';
  src: url("./assets/Fonts/med.woff2");
}
@font-face{
  font-family: 'book';
  src: url("./assets/Fonts/book.woff2");
}
@font-face{
  font-family: 'bold';
  src: url("./assets/Fonts/bold.woff2");
}


.header{
  position: sticky;
  top: 0;
}


.navbar {
  background-color: white;
  width: 100%;
  height: 85px;
  /* font-family: 'bold'; */
}
.logo-img{
  height: 48px;
  /* margin-bottom: 20px; */

}

.navbar-container {
  height: 85px;
  padding: 0px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #717171; */
  /* font-family: 'book'; */
}

.searchbar{
  background-color: white;
  width: 30;
  height: fit-content;
  border: 1px solid gainsboro;
  border-radius: 25px;
  padding: 13px;
  box-shadow: 1px 3px 5px gainsboro;
  display: flex;
  justify-content: space-between;
}
.searchbar button{
  font-family: 'bold';
}
.btn-logo img{
  width: 15px;
  height: 15px;
}
button{
  background-color: white;
  border: 0px;
  padding: 0px 8px;
  /* font-family: sans-serif;
  font-weight: bold; */
}
.bah{
  font-family: 'med';
}

.user-info button{
  /* font-family: 'book'; */
  border-radius: 25px;
  padding: 10px;
  align-content: center;
}

.btn-logo{
  background-color: #ff385c;
  /* padding: 11px 15px; */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  /* margin:  7px 7px 7px 0px; */
  padding: 10px;
}

.btn-globe img{
  width: 18px;
  height: 18px;
}
.user-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile{
  border: 1px solid #717171;
}
.user-profile img{
  width: 20px;
  height: auto;
}

.footer--pin {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 13px 80px 14px;
  font-family: 'book';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid gainsboro;

}

.footer-right img {
  width: 20px;
}
.footer-right{
  width: 30%;
  display: flex;
  /* flex-direction: row; */
  justify-content:space-evenly;
  font-family: 'med';
  padding: 2px;
}

.filter-container{
  background-color: white;
/* align-items: flex-end; */
position: sticky;
height: 80px;
border-top: 1px solid gainsboro;
}
.filter-bar{
  /* background-color: blueviolet; */
  height: 78px;
  padding: 0px 80px 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-left img{
  /* border: 1px solid black;
  border-radius: 50%; */
  width: 20px;
}

.filter-left{
  border: 1px solid #717171;
  border-radius: 50%;
  /* height: 20px; */
  width: 28px;
  height: 28px;
  padding-left: 0px;
  padding-right: 0px;
}

.filter-icons img{
  width: 24px;
  opacity: 0.7;
}
.filter-icons img:hover{
  opacity: 1;
}
.filter-icons{
  display: flex!important;
  /* width: 75px!important; */
  flex-direction: column;
  align-items: center;
  width: min-content;
  color: #717171;
  
}

.filter-btn img{
  width: 20px;

}
.filter-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: right;
  height: 48px;
  width: 90px;
  border: 1px solid #717171;
  border-radius: 12px;
}

button:hover{
  cursor: pointer;
}

.footer--pin a:hover {
  text-decoration: underline;
  cursor: pointer;
}
a, a:visited{
  color: inherit;
  text-decoration: none;
}
.user-info button:hover{
background-color: gainsboro;
}

.user-profile:hover{
  background-color: white;
  /* box-shadow: inset; */
}

.car-bar{

  display: flex;
  padding: 0px 80px ;
  justify-content: space-between;
}
.div-ele-car{
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.car-div{
  width:100%;
}

.content-container{
  /* background-color: #ff385c; */
  padding: 0px 80px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.card-img img{
  width: 321px;
  height: 305px;
  border-radius: 15px;
  object-fit:cover;
}
.card-img{
  margin-top: 20px;
}

.card-gray{
  font-family: 'book';
  color: #717171;
}
.card-bold{
  font-family: 'med';
}
span{
  font-family: 'book';
}